@charset "utf-8";
/* CSS Document */
@charset "utf-8";

.nodecoration  a{
  text-decoration: none;
  
}

.additional{
  margin-top: 10px;
}

/* fsfsdfsdfsdfsdfsdfsdf*/
.post-content{
  width: 100%;
}


.title {
  width: 100%;
  min-height: 80px;
  padding-top: 10px;
  color: #00f;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border:solid 1px #000;
  margin: 10px;
  padding: 10px;
}
.post-row {
  padding: 10px;
  margin: 10px;
  width: 100%;
  min-height: 250px;
  color: #039;
  border-radius: 10px;
  border:solid 1px #000;
}
.post-image {
  float: left;
  text-align: center;
  min-width:350px;
}
.post-summary {
  width: 60%;
  min-height: 110px;
  float: right;
}
.post-text {
  width: 100%;
  color: #000;
  border-radius: 10px;
  border:solid 1px #000;
  margin: 10px;
  padding: 10px;
}

